/* 
1) Here we are defining the css for both divs...
2) Here if you look closely you will observe that em vlaue depends on parent class.
3) If Parent class does not have attributes then it depends on default browser settings....
*/

.Default
{
    font-size: 2em;/*Here if you see in browser the 2em value is reletive to defult browser settings..*/
 
}

.parent
{
   font-size: 50px;
}

.child1
{
	font-size:  2em;  /*Here if ou see i browser then you can  see 2em value is reletive to parent class which provides css to div in our html page*/
}

.child2
{
	font-size: 20px;
}


/* The conclusion are 
   1) em values depend on css of parent element..
   2) if parent element does not have css then it depends on default browser settings..
   */