/*
1) Here you can see the demonstration of vh and vw.
2)                                                      
*/
.ALTAF
{
  background: red;
  width: 25vw;
  height: 5vh; 
}

.KAIF
{
  background: black;
  width: 25vw;/*setting the vw value..*/
  height: 5vh;/*setting the vh value..*/
}

.SAYYED
{
  background: #ffce00;
  width: 25vw;
  height: 5vh; 
}
 
 



