/* 
1) Here we are defining the css for both divs...
2) Here if you look closely you will observe that em vlaue depends on parent class.
3) If Parent class does not have attributes then it depends on default browser settings....
*/

.Default
{
    font-size: 2em;/*Here if you see in browser the 2em value is reletive to defult browser settings..*/
 
}

.parent
{
   font-size: 50px;
}

html
{
   font-size: 50px;
}
.child1
{
	font-size:  1rem; /*Here you can see that rem depends on html element*/ 
}




/* The conclusion are 
   1) rem values always depends on the root element which is HTML..
*/